@model Panda_Player.Models.ViewModels.ListAllSongsViewModel

@{
    ViewBag.Title = "My Songs";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}
@Scripts.Render("~/bundles/paging")

@Html.Partial("_Notifications")
<h2 class="mySongs-title">My Songs</h2>
<div id="uploadASong">
    <a onclick="mapUrl('Songs', 'Upload')">
        @Ajax.ActionLink("Upload New Song", "Upload", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })
    </a>
</div>

<<<<<<< .mine



=======
<p onclick="mapUrl('Songs', 'Upload')">
    @Ajax.ActionLink("Upload New Song", "Upload", "Songs", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })
</p>
>>>>>>> .theirs


<div id="SongDiv">
    @Html.Partial("SongPartial")
</div>
<div>
    @using (Ajax.BeginForm("MySongs", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "SongDiv" }, new { id = "page" }))
    {
        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.CurrentPage" />
        <input type="hidden" id="LastPage" name="LastPage" value="@Model.LastPage" />
    }
    <input type="button" class="btn btn-primary" id="Previous" value="Previous" />
    <input type="button" class="btn btn-primary" id="Next" value="Next" />

</div>

<input type="hidden" id="songId" />
@Html.Partial("_ModalPopup")

<script>    
    if ($('#player').is(':hidden')) {
        $('#player').show();
        wavesurfer.load('@Model.Path');
        setTimeout(play, delay);
    }
</script>

