@model IEnumerable<Panda_Player.Models.PandaPlayer.Song>
@{
    ViewBag.Title = "AddSongs";
}

<h2>AddSongs</h2>
@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            <div>Add to playlist</div>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>
   
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" value="@item.Id"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
    }

</table>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="AddSongs" class="btn btn-default" />
    </div>
</div>
}

