@model Panda_Player.Models.ViewModels.PlaylistDetailsViewModel

@{
    ViewBag.Title = "Details";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@Html.Partial("_Notifications")

<h2>Details</h2>

<div>
    <h4>Playlist</h4>
    <hr />

    @*This button Load M3u file with current playlist from player.js *@
    <button class="btn btn-primary playlist">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
        Load Playlist
    </button>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SongsInPlaylist)
        </dt>
        <dd>
            <ul>
                @foreach (var song in Model.SongsInPlaylist)
                {
                    <li>@song.Artist - @song.Title (@Ajax.ActionLink("Delete from playlist", "DeleteFromPlaylist", new { songId = song.Id, playlistId = Model.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "body", InsertionMode = InsertionMode.Replace }))</li>               
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }) |
    @Ajax.ActionLink("Back My Playlists", "MyPlaylists", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })
</p>

<script>

    if ($('#player').is(':hidden')) {
        $('#player').show();
        wavesurfer.load('@Model.Path');
        setTimeout(play, delay);
    }
</script>