@model Panda_Player.Models.PandaPlayer.Playlist

@{
    ViewBag.Title = "Details";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Details</h2>

<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlaylistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaylistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Songs)
        </dt>        
    </dl>
    <div>
        <ul>
            @foreach (var song in Model.Songs)
            {
                <li>@song.Artist - @song.Title</li>  @Ajax.ActionLink("Delete from playlist", "DeleteFromPlaylist", new { songId = song.Id, playlistId = Model.Id }, new AjaxOptions { HttpMethod = "POST", LoadingElementId = "body" })
            }
        </ul>
    </div>

</div>
<p>
    @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }) |
    @Ajax.ActionLink("Back My Playlists", "MyPlaylists", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })
</p>
