@model ICollection<Panda_Player.Models.Identity.UserDetailsViewModel>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<table class="table">
    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>

    @foreach (var user in Model)
    {
        if (user.Roles.Contains("Admin"))
        {
            @:<tr class="info">
        }
        else
        {
            @:<tr>
        }
        
            <td>
                @Html.DisplayFor(u => user.Email)
            </td>
            <td>
                @Html.DisplayFor(u => user.FullName)
            </td>
            <td>
                @Html.DisplayFor(u => user.Roles)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = user.Id }) |
                @Html.ActionLink("Details", "Details", new { Id = user.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = user.Id })
                @Html.Hidden("item-to-delete", "", new { @id = user.Id })
                <a href="#" class="btn btn-danger btn-sm" onclick="BanUser('@($"{user.Id}")', '@($"{user.FullName}")')">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        @:</tr>
    }

</table>

<input type="hidden" id="userId" />
@Html.Partial("_ModalPopupBAN")