@model Panda_Player.Models.Manage.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}

@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>My profile</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<h4>Change profile settings</h4>
<hr />

@using (Html.BeginForm("Upload", "Manage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <dl class="dl-horizontal">
        <dt>Profile picture:</dt>
        <dd>
            <div class="row">
                <div class="col-md-2">
                    <img class="img-responsive" src='@Url.Action("Show", "Manage", new { id = ViewData["imageID"]})' />
                    @Html.ActionLink("Change Picture", "Upload", "Manage")
                </div>
            </div>
    </dl>
}
        <br />
        <dl class="dl-horizontal">
            <dt>Email Adress:</dt>
            <dd>
                <div class="row">
                    <div class="col-md-2">
                        @User.Identity.GetUserName()
                    </div>
                </div>

            </dd>
        </dl>

        <dl class="dl-horizontal">

            <dt>Password:</dt>
            <dd>
                <div class="row">
                    <div class="col-md-4">
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </div>

                </div>
            </dd>
        </dl>
<script>

    if ($('#player').is(':hidden')) {
        $('#player').show();
        wavesurfer.load('@Model.Path');
        setTimeout(play, delay);
    }
</script>



