@model Panda_Player.Models.Manage.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}

@using (Html.BeginForm("Upload", "Manage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>My profile</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change profile settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Profile picture:</dt>
            <dd>
                
                @if (!Model.HasProfilePic)
                {
                      @Html.ActionLink("Upload picture", "Upload", "Manage")

                }
                else
                {
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-responsive" src='@Url.Action("Show", "Manage", new { id = ViewData["imageID"]})' />
                            @Html.ActionLink("Change Picture", "Upload", "Manage")
                        </div>
                    </div>
                           
                }
                
            </dd>

        </dl>
        <dl class="dl-horizontal">
            <dt>Email Adress:</dt>
            <dd>
                @User.Identity.GetUserName()
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
}


