@model Panda_Player.Models.PandaPlayer.Image
@{
    ViewBag.Title = "Upload Image";
}

@using (Html.BeginForm("Upload", "Manage", null, FormMethod.Post,
                                                                new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h2>Upload</h2>
    <div class="form-group">
        @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="ImagePath" class="form-control" title="Upload Image" type="file" name="file" accept=".jpg,.jpeg,.png,.gif" />
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

