@model Panda_Player.Models.ViewModels.ListAllSongsViewModel
@{
    ViewBag.Title = "Genres";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@Scripts.Render("~/bundles/paging")

<h2>Genres</h2>

@foreach (var genre in ViewBag.Genres)
{
    @Ajax.ActionLink($"{genre.Name}", "Genres", new { id = @genre.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SongDiv" })
}


<div id="SongDiv">
    @Html.Partial("SongPartial")
</div>

<div>
    @using (Ajax.BeginForm("ListSongs", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "SongDiv" }, new { id = "page" }))
    {
        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.CurrentPage" />
        <input type="hidden" id="LastPage" name="LastPage" value="@Model.LastPage" />
    }
    <input type="button" class="btn btn-primary" id="Previous" value="Previous" />
    <input type="button" class="btn btn-primary" id="Next" value="Next" />

</div>

