@model Panda_Player.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
    var playlists = (List<Panda_Player.Models.PandaPlayer.Playlist>)ViewBag.Playlists ?? new List<Panda_Player.Models.PandaPlayer.Playlist>();
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        <script>
            @*setTimeout(function () { wavesurfer.load('@Model.LastAddedSong.SongPath'); }, 1000);*@
        </script>
    }
    
}
@Html.Partial("_Notifications")
<h1 class="playlists">Playlists</h1>

<div class="row">
    @foreach (var playlist in Model.Playlists)
    {
        <div class="col-md-4">
            <a>
                <img src="/Content/Images/paw.png" alt="Playlist_Pic" style="width:200px; height:200px;" class="img-responsive">
                @Ajax.ActionLink(" ", "Details", "Playlists", new { @playlist.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })
                <h4>@playlist.PlaylistName</h4>
            </a>
            @Ajax.ActionLink("Details", "Details", "Playlists", new { @playlist.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-default" })
        </div>
    }
</div>
<div class="pull-right">
    @Ajax.ActionLink("View All", "List", new { id = "Playlists" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-primary" })

</div>
<br />

<h1>Last Added Songs</h1>
<div class="row">
    <div class="row">
        @foreach (var song in Model.Songs)
        {
            <div class="col-md-4">
                <a href="#" onclick="wavesurfer.load('@song.SongPath'); setTimeout(play, delay)">
                    <img src="~/Content/Images/playlist.jpeg" alt="Playlist_Pic" style="width:304px;height:228px;" class="img-responsive">
                    <h4>@song.Artist - @song.Title</h4>
                </a>
                <div>
                    <button class="btn btn-default" type="button">@Ajax.ActionLink("Details", "Details", "Songs", new { @song.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })</button>
                    @if (User.Identity.IsAuthenticated)
                {
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Add to playlist
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var playlist in Model.UserPlaylists)
                                {
                                    <li>@Ajax.ActionLink(playlist.PlaylistName, "AddSongToPlaylist", "Songs", new { songId = song.Id, playlistId = playlist.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "body", OnSuccess = "success" })</li>
                                }
                                <li>@Ajax.ActionLink("Create new playlist", "Create", "Playlists", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })</li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<div class="pull-right">
    @Ajax.ActionLink("View All", "List", new { id = "Songs" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-primary" })
</div>
<br />

<script>
    function success(data) {
        $('#body').load(data.Url);
    }
</script>