@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("Player")

<h2 class="playlists">Playlists</h2>


<div class="row">
    @foreach (var playlist in ViewBag.Playlists)
    {
        <div class="col-md-4">
            <a href="~/Playlists/Details/@playlist.Id">
                <img src="~/Content/Images/best-workout-playlist.jpg" alt="Playlist_Pic" style="width:304px;height:228px;">
                    <h4>@playlist.PlaylistName</h4>
            </a>
        </div>
    }
</div>

<h2>Last Added Songs</h2>
<div class="row">
    @foreach (var song in ViewBag.Songs)
    {
        <div class="col-md-4">
            <a href="#" onclick="wavesurfer.load('@song.SongPath')" >
                <img src="~/Content/Images/playlist.jpeg" alt="Playlist_Pic" style="width:304px;height:228px;">
                <h4>@song.Artist - @song.Title</h4>
            </a>
        </div>
    }
</div>

        @*<div class="col-md-4">
            <img src="~/Content/Images/best-workout-playlist.jpg" alt="Playlist_Pic" style="width:304px;height:228px;">
        </div>

        <div class="col-md-4">
            <img src="~/Content/Images/playlist.jpeg" alt="Playlist_Pic" style="width:304px;height:228px;">
        </div>*@
