@model Panda_Player.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

@Html.Partial("_Notifications")
<h1 class="playlists-title">Latest Playlists</h1>

<div class="row">
    @foreach (var playlist in Model.Playlists)
    {
        <div class="col-md-4">
            <a>
                <img src="/Content/Images/paw.png" alt="Playlist_Pic" style="width:150px; height:150px;" class="img-responsive">
                <h4 class="media-title">@playlist.PlaylistName</h4>
            </a>
            @Ajax.ActionLink("Details", "Details", "Playlists", new { @playlist.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-default" })
        </div>
    }
</div>
<div class="pull-right">
    @Ajax.ActionLink("View All", "List", "Home", new { id = "Playlists" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-primary" })
</div>
<br />

<h1 class="latest-songs-title">Last Added Songs</h1>

<div class="row">
    <div class="row">
        @foreach (var song in Model.Songs)
        {
            <div class="col-md-4">
                <a href="#" onclick="wavesurfer.load('@song.SongPath'); setTimeout(play, delay)">
                    <img src="~/Content/Images/playlist.jpeg" alt="Playlist_Pic" style="width:304px;height:228px;" class="img-responsive">
                    <h4 class="media-title">@song.Artist - @song.Title</h4>
                </a>
                <div>
                    @Ajax.ActionLink("Details", "Details", "Songs", new { @song.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-default" })
                    @if (User.Identity.IsAuthenticated)
                {
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Add to playlist
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var playlist in Model.UserPlaylists)
                                {
                                    <li>@Ajax.ActionLink(playlist.PlaylistName, "AddSongToPlaylist", "Songs", new { songId = song.Id, playlistId = playlist.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "body" })</li>
                                }
                                <li>@Ajax.ActionLink("Create new playlist", "Create", "Playlists", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })</li>
                            </ul>
                        </div>
                        if (song.IsUploader(User.Identity.Name) || this.User.IsInRole("Admin"))
                        {
                            @Ajax.ActionLink("Edit", "Edit", "Songs", new { id = song.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-warning" })
                            @Html.Hidden("item-to-delete", "", new { @id = song.Id })
                            <a href="#" class="btn btn-danger" onclick="ConfirmDelete(@song.Id, '@($"{song.Artist} - {song.Title}")')" data-item-description="@song.Title">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        }
                    }
                </div>
            </div>
        }        
    </div>
    <div class="pull-right">
        @Ajax.ActionLink("View All", "List", new { id = "Songs" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-primary" })
    </div>
</div>
<br />

<script>
    function success(data) {
        $('#body').load(data.Url);
    }

    if ($('#player').is(':hidden')) {
        $('#player').show();
        wavesurfer.load('@Model.Path');
        setTimeout(play, delay);
    }
</script>