@model Panda_Player.Models.ViewModels.ListAllPlaylistsViewModel
@{
    ViewBag.Title = "ListPlaylists";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
@Scripts.Render("~/bundles/paging")
<h1>All Public Playlists</h1>

<div id="PlaylistDiv">
    @Html.Partial("PlaylistPartial", Model)
</div>
<div>
    @using (Ajax.BeginForm("ListPlaylists", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "PlaylistDiv" }, new { id = "page" }))
    {
        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.CurrentPage" />
        <input type="hidden" id="LastPage" name="LastPage" value="@Model.LastPage" />
    }
    <input type="button" class="btn btn-primary" id="Previous" value="Previous" />
    <input type="button" class="btn btn-primary" id="Next" value="Next" />
</div>

<script>

    if ($('#player').is(':hidden')) {
        $('#player').show();
        wavesurfer.load('@Model.Path');
        setTimeout(play, delay);
    }
</script>
