<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Panda Player</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modalFunction")
    @Scripts.Render("~/bundles/wavesurfer")
    @Scripts.Render("~/bundles/playlistparser")
    @Scripts.Render("~/bundles/wavesurfer.playlist")
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" style="margin-top:-50px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="margin-left:40px"> 
                    @Ajax.ActionLink("Panda Player", "Index", "Home", new { area = "" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body", InsertionMode = InsertionMode.Replace }, new { @class = "navbar-brand" })
                    <br />
                    @using (Ajax.BeginForm("Search", null,
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "body",
                            InsertionMode = InsertionMode.Replace,
                        }, new { id = "searchForm" }))
                    {
                        <input type="text" name="query" placeholder="Live Search" oninput="$('#searchForm').submit()" />
                    }
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @Html.Partial("_LoginPartial")
            </div>


        </div>
    </nav>
    <div class="container body-content">
        @Html.Partial("_Notifications")
        @{
            var controller = ViewContext.RouteData.Values["controller"].ToString();
            var action = ViewContext.RouteData.Values["action"].ToString();
            if (controller != "Account" && controller != "User" &&
                controller != "Genre" && action != "Upload")
            {
                    @Html.Partial("Player")
            }
        }
        <div id="body">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <div class="footer row">
                <div class="widget-panel left col-sm-4">
                    <div class="widgets-wrapper">
                        <div class="widgets widgets">
                            <div id="nav_menu-18" class="widget clearfix widget_nav_menu">
                               <h3>About</h3>
                                <div class="menu-valenti-footer-menu-container">
                                    <ul id="menu-valenti-footer-menu" class="menu">
                                        <li id="menu-item-41550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-41550">@Html.ActionLink("Home", "Index", "Home")
                                        <li id="menu-item-41551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41551">@Html.ActionLink("Contact us", "", "")
                                        <li id="menu-item-41554" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41554">@Html.ActionLink("Terms of Service", "", "")
                                        <li id="menu-item-41552" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41552">@Html.ActionLink("Privacy Policy", "", "")
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-panel mid col-sm-4">
                    <div class="widgets-wrapper">
                        <div class="widgets widgets">
                            <div id="nav_menu-19" class="widget clearfix widget_nav_menu">
                                <h3>Contact Us</h3>
                                <div class="menu-advertise-container">
                                    <ul id="menu-advertise" class="menu list-inline">
                                        <li><a class="social-icon" href="https://www.facebook.com/profile.php?id=100016119730958/"> <img class="social-icon" src="\Content\Images\Logos\facebook_icon.png" alt="Facebook"></a></li>
                                        <li><a class="social-icon" href="https://www.linkedin.com/in/coding-pandas-96a1bb139/?locale=en_US/"> <img class="social-icon" src="\Content\Images\Logos\linkedin_icon.png" alt="LinkedIn"></a></li>
                                        <li><a class="social-icon" href="http://instagram.com/"> <img class="social-icon" src="\Content\Images\Logos\instagram_icon.png" alt="Instagram"></a></li>
                                        <li><a class="social-icon" href="https://twitter.com/coding_pandas"> <img class="social-icon" src="\Content\Images\Logos\twitter_icon.png" alt="Twitter"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-panel right col-sm-4">
                    <div class="widgets-wrapper">
                        <div class="widgets widgets">
                            <div id="nav_menu-20" class="widget clearfix widget_nav_menu">
                                <h3>Who Are We?</h3>
                                <div class="menu-our-team-2-container">
                                    <ul id="menu-our-team-2" class="menu">
                                        <li id="menu-item-62861" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62861">@Html.ActionLink("About Us", "", "")
                                        <li id="menu-item-59976" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59976"><a href="https://github.com/orgs/">Our GitHub</a></li>
                                        <li id="menu-item-59975" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59975"><a href="https://softuni.bg/trainings/1511/software-technologies-february-2017">Our Course</a></li>
                                        <li id="menu-item-69402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69402"><a href="https://softuni.bg/">SoftUni</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/player")
    @RenderSection("scripts", required: false)
</body>
</html>
