@if (Model.Playlists.Count == 0)
{
    <h1>No Playlists Found!</h1>
    return;
}

<div class="row">
    @foreach (var playlist in Model.Playlists)
    {
        <div class="col-md-4">
            <a href="#">
                <img src="~/Content/Images/best-workout-playlist.jpg" alt="Playlist_Pic" style="width:304px;height:228px;" class="img-responsive">
                <h4>@playlist.PlaylistName</h4>
                @Ajax.ActionLink(" ", "Details", "Playlists", new { @playlist.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" })
            </a>
            @Ajax.ActionLink("Details", "Details", "Playlists", new { @playlist.Id }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "body" }, new { @class = "btn btn-default" })           
            @if (User.Identity.IsAuthenticated && (playlist.IsCreator(User.Identity.Name) || this.User.IsInRole("Admin")))
            {                
                @Ajax.ActionLink("Edit", "Edit", new { id = playlist.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "body" }, new { @class = "btn btn-warning" })
                @Html.Hidden("item-to-delete", "", new { @id = playlist.Id })
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete(@playlist.Id, '@($"{playlist.PlaylistName}")')">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            }
        </div>
    }
</div>